@import "../../../node_modules/muicss/lib/sass/mui-colors.scss";
@import "../../../node_modules/muicss/lib/sass/mui/variables";
@import "../../../node_modules/muicss/lib/sass/mui/mixins";
@import "../../../node_modules/muicss/lib/sass/mui/panel";
@import "../../../node_modules/muicss/lib/sass/mui/tabs";
/*

Horizontal list without background

<ul class="zdss-list-horizontal">
    <li>General</li>
    <li>Filepath</li>
    <li>Fields</li>
    <li disabled>Visualizations</li>
</ul>

*/

@mixin zdss-list-horizontal(){
    list-style: none;
    > li {
        background-color: $zdss-color-mercury;
        float: left;
        margin: 6px;
        padding: 6px 4px;
        height: 16px;
        @include zdss-clickable();
        @include zdss-rounded();
    }
    > li:hover {
        box-shadow: 0 2px 2px 0 rgba(mui-color('black'), 0.16),
                    0 0px 2px 0 rgba(mui-color('black'), 0.12);
    }
    > li:active {
        background-color: darken($zdss-color-mercury, 10%);
    }
    > li[disabled] {
        background-color: $zdss-color-mercury;
        color: $mui-text-dark-secondary;
    }
    > li[disabled]:hover {
        color: $zdss-color-mercury;
        box-shadow: 0;
        background: inherit;
    }
}
    
/*

Vertical list of rounded light elements

<ul class="zdss-list-vertical">
    <li>Ene</li>
    <li>Bene</li>
    <li>Raba</li>
</ul>

*/

@mixin zdss-list-vertical(){
    list-style: none;
    padding-left: 0px;
    > li {
        padding: 18px;
        border-radius: 0;
    }
    > li:hover {
        background-color:  $zdss-color-mercury;
    }
    > li:active {
        background-color: darken($zdss-color-mercury, 10%);
    }
} 



/*

The same, but darker

<ul class="zdss-list-vertical-dark">
    <li>Ene</li>
    <li>Bene</li>
    <li>Raba</li>
</ul>

*/



@mixin zdss-list-vertical-dark(){
    @include zdss-list-vertical();
    > li {
        color: $mui-text-light;
        background-color: $zdss-color-charcoal;
        border-radius: 0;
    }
    > li:hover {
       
        background-color: $zdss-color-obsidian;
    }
    > li:active {
        background-color: darken($zdss-color-obsidian, 10%);

    
    }
}

/*

Accordion list

<ul class="zdss-accordion">
    <li>C</li>
    <li>D</li>
    <li>E</li>
</ul>

*/

@mixin zdss-accordion ($height: 40px){
    @extend .mui-panel;
    margin: 8px;
    padding: 0px;
    $size: $height/4;
    list-style: none;
    > li {
        text-align: left;
        padding: 16px;
        position: relative;
    }
    > li:hover {
        background-color: $zdss-color-mercury;
    }
    > li:active {
        background-color: darken($zdss-color-mercury, 10%);
    }
}

/*

Accordion list with arrows on the right

<ul class="zdss-accordion-arrowed">
    <li>C</li>
    <li>D</li>
    <li>E</li>
</ul>

*/

@mixin zdss-accordion-arrowed ($height: 40px){
    @include zdss-accordion($height);
    $size: $height/4;
    > li:after {
        @include zdss-arrow($size);
        position: absolute;
        right: $size;
        top: ($height/2) - ($size/2);
    }
    > li:hover:after {
        border-color: white;
    }
}

/*

Horizontal menu

<ul class="zdss-menu-horizontal">
    <li>Sources</li>
    <li>Visualization Studio</li>
    <li>Users & Groups</li>
</ul>

*/

@mixin zdss-menu-horizontal(){

    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
    > li {
        float: left;
        display: block;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: $mui-tab-font-color;
        cursor: default;
        height: 48px;
        line-height: 48px;
        padding-left: 24px;
        padding-right: 24px;
        user-select: none;
        border-bottom: 2px;
        
        &:hover {
            color: $mui-tab-border-color-active;
            border-bottom: 2px solid $mui-tab-border-color-active;
        }
        &:active {
            color: $mui-tab-border-color-active;
            border-bottom: 2px solid $mui-tab-border-color-active;
        }
    }
}

$tabs-color1: $zdss-color-charcoal;

/*

Tabs

<div class="zdss-block-light">
    <ul class="zdss-tabs">
        <li active>Favourites</li>
        <li>Data Sources</li>
        <li>Selected</li>
        <li>All</li>
    </ul>
    <div class="zdss-tab-content">
        Lorem ipsum
    </div>
</div>

*/

@mixin zdss-tabs(){
     @extend .zdss-menu-horizontal;
     background: $mui-primary-color;
     color: $mui-tab-border-color-active;
     margin-bottom: 0;
     &:after {
         clear:both;
         display: block;
         content: ' ';
         margin-bottom: 0;
     }
     & > li:hover {
        border-bottom: 0;
      border-bottom: 2px solid $mui-tab-border-color-active; 
    }
}

@mixin zdss-tab-content(){
    margin-top: -8px;
    padding: 16px;
    background: white;
}

/*

Dropdown list
<div style="width:150px;">
    <div class="zdss-dropdown">
        <span>Integer</span>
        <ul>
            <li>
                Money
            </li>
            <li>
                Number
            </li>
            <li>
                Integer
            </li>
            <li>
                Time
            </li>
        </ul>
    </div>
</div>
    
*/

@mixin zdss-dropdown(){
    > ul {
        @extend .zdss-accordion; 
    }
        > *:first-child {
        position: relative;
        @include zdss-clickable;
        &:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid black;
            position: absolute;
            right: -15px;
            top: 7px;
            width: 0px;
            height: 0px;
            content: '';
        }
    }
}

/*

A list that can be used in popups(or elsewhere)
<div style="width:250px;">
    <ul class="zdss-list-vertical-popup">
        <li>
            Money
        </li>
        <li>
            Number
        </li>
        <li>
            Integer
        </li>
        <li>
            Time
        </li>
    </ul>
</div>
    
*/

@mixin zdss-list-vertical-popup(){
    @extend .zdss-accordion; 
}

/*

Vertical list with line-separated items


<div style="width:250px;">
    <ul class="zdss-list-underlined">
        <li>
            Money
        </li>
        <li>
            Number
        </li>
        <li>
            Integer
        </li>
        <li>
            Time
        </li>
    </ul>
</div>

*/

@mixin zdss-list-underlined(){
    list-style: none;
        @extend .zdss-accordion; 
    > * {
        padding: 10px;
        border-bottom: 1px solid $zdss-color-mercury;
    }
}

