@import "../Basics/vars.scss";
@import "../Basics/mixins.scss";
@import "vars.scss";
@import "mixins.scss";
@import "../../../node_modules/muicss/lib/sass/mui-colors.scss";
@import "../../../node_modules/muicss/lib/sass/mui/variables";
@import "../../../node_modules/muicss/lib/sass/mui/mixins";
@import "../../../node_modules/muicss/lib/sass/mui/buttons";

/*
Buttons

A majority of buttons in the site are built from the same base class.

<button class="zdss-button">Button</button>
<button class="zdss-button-primary">Button</button>
<button class="zdss-button-danger">Button</button>
<button class="zdss-button" disabled>Button</button>

*/

@mixin zdss-button() {
    @extend .mui-btn;
}

@mixin zdss-button-primary() {
    @include zdss-button();
    @extend .mui-btn--primary;
}

@mixin zdss-button-danger() {
    @include zdss-button();
    @extend .mui-btn--danger;
}


/*
Rail Button

Additional buttons that are useful for stuff.

<button class="zdss-button-rail">
    <i class="zdss-icon-palette"></i>
    <div class="text">Attributes</div>
</button>
<button class="zdss-button-rail active">
    <i class="zdss-icon-filter"></i>
    <div class="text">Filters</div>
</button>

*/

@mixin zdss-button-rail() {
    display: inline-block;
    height: $mui-btn-height;
    padding: 0 $mui-btn-padding-horizontal;
    margin: $mui-btn-margin-vertical 0; // Look and feel
    border: none;
    border-radius: $mui-btn-border-radius;
    cursor: pointer;
    touch-action: manipulation;
    background-image: none; // reset unusual Firefox-on-Android
    // Typography
    text-align: center;
    line-height: $mui-btn-height;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    font-size: $mui-btn-font-size;
    font-family: inherit;
    letter-spacing: 0.03em; // For ripples
    position: relative;
    overflow: hidden;
    height: 54px;
    width: 72px;
    background-color: transparent;
    border-radius: 0;
    padding: 7px 0;
    .text {
        margin: 0 auto;
        padding-top: 0;
        text-align: center;
        font-size: $zdss-fs-small;
        font-weight: normal;
    }
}


/*
Circular Button

Buttons meant to look like a circle.

<button class="zdss-button-circular">
    <i class="zdss-icon-favorites"></i>
</button>
<button class="zdss-button-circular active">
    <i class="zdss-icon-favorites"></i>
</button>

*/

@mixin zdss-button-circular() {
    @include zdss-button;
    @include button-variant( $mui-text-light, $mui-accent-color);
    @extend .mui-btn--fab;
}


/*
Rounded Button

Buttons meant to look rounded.

<button class="zdss-button-rounded">
    <i class="zdss-icon-pause"></i>
</button>

*/

@mixin zdss-button-rounded() {
    @include zdss-button();
    width: $default-button-height;
    height: $default-button-height;
    font-size: $zdss-fs-large;
    padding: 0;
}


/*
Axis Button

Buttons for the axis of visualizations

<button class="zdss-button-axis">
    Button (button.button.axis)
</button>

*/

@mixin zdss-button-axis() {
    @include zdss-button();
    @include button-variant( $mui-text-light, $mui-primary-color);
    padding: 0 12px;
    z-index: 1;
    text-transform: capitalize;
    white-space: nowrap;
    &:hover {
        &.metric {
            background-color: $mui-primary-color-light;
        }
        &.attribute {
            background-color: $mui-accent-color-dark;
        }
    }
}


/*
Button Group

A button group is a series of buttons laid out next to each other, all part of one visual button, but separated by rules to be separate.


<div class="zdss-button-group">
    <button type="button" class="zdss-button selected">First</button>
    <button type="button" class="zdss-button">Second</button>
    <button type="button" class="zdss-button">Third</button>
</div>

*/

@mixin zdss-button-group() {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    background-color: transparent;
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
    .zdss-button {
        display: inline-block;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: $mui-tab-font-color;
        cursor: default;
        height: 48px;
        line-height: 48px;
        padding-left: 24px;
        padding-right: 24px;
        user-select: none;
        &.selected {
            border-bottom: 2px solid $mui-tab-border-color-active;
            @if $mui-tab-font-color-active==null {
                color: $mui-tab-font-color;
            }
            @else {
                color: $mui-tab-font-color-active;
            }
        }
    }
}


/*

Another button for vis popup

<button class="zdss-button-vis-popup">
    Add a reference line
</button>

*/

@mixin zdss-button-vis-popup() {
    @include zdss-button();
    @extend .mui-btn--primary;
    @extend .mui-btn--flat;
}